h2 {padding-left: 310px;}
.topForm {background-color: rgba(255, 255, 255, .8); border-top: solid 1px #fff; padding: 10px 10px;}
fieldset {border: solid 1px #ddd; padding: 15px;
  legend {background-color: #aaa; color: #fff; text-align: center;width: 70%;}
}
label {color: #222222; font-size: 14px; padding: 0; margin: 0; line-height: 14px;}
input {color: #2902d8;}
select {color: #2902d8;}
.dateFormat {color: blue; font-size: 10px;}
sup {color: red;}
