<br>
<h2>Ajouter un CV<a routerLink="/personne/list" class="btn btn-primary float-right"><i class="fas fa-arrow-left"></i> Retour à la liste</a></h2>
<br>
<hr>
<form class="topForm">
	<div class="row">
		<div class="col-6">
			<div class="row">
				<div class="col-2">
					<label for="civilite">Civilité</label>
					<select [(ngModel)]="formAddPersonne.civilite" name="civilite" class="form-control form-control-sm">
						<option value="Mme">Mme</option>
						<option value="Mr">Mr</option>
					</select>
				</div>
				<div class="col-5">
					<label for="nom">Nom <sup>*</sup></label>
					<input [(ngModel)]="formAddPersonne.nom" name="nom" type="text" class="form-control form-control-sm" (ngModelChange)="checkValidForm()">
				</div>
				<div class="col-5">
					<label for="prenom">Prénom <sup>*</sup></label>
					<input [(ngModel)]="formAddPersonne.prenom" name="prenom" type="text" class="form-control form-control-sm" (ngModelChange)="checkValidForm()">
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-7">
					<label for="mail">Email</label>
					<input [(ngModel)]="formAddPersonne.mail" name="mail" type="email" class="form-control form-control-sm">
				</div>
				<div class="col-5">
					<label for="tel">Téléphone</label>
					<input [(ngModel)]="formAddPersonne.tel" name="tel" type="text" class="form-control form-control-sm">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<label for="adresse">Adresse</label>
			<input [(ngModel)]="formAddPersonne.adresse" name="adresse" type="text" class="form-control form-control-sm">
		</div>
		<div class="col-2">
			<label for="cp">Code Postal</label>
			<input [(ngModel)]="formAddPersonne.codePostal" name="cp" type="text" class="form-control form-control-sm">
		</div>
		<div class="col-2">
			<label for="ville">Ville</label>
			<input [(ngModel)]="formAddPersonne.ville" name="ville" type="text" class="form-control form-control-sm">
		</div>
		<div class="col-5">
			<div class="row">
				<div class="col-3">
					<label for="">Naissance</label>
					<select [(ngModel)]="jourNaiss" name="jourNaiss" class="form-control form-control-sm">
						<option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
					</select>
				</div>
				<div class="col-3">
					<label for=""></label>
					<select [(ngModel)]="moisNaiss" name="moisNaiss" class="form-control form-control-sm">
						<option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
					</select>
				</div>
				<div class="col-6">
					<label for=""></label>
					<select [(ngModel)]="anneeNaiss" name="anneeNaiss" class="form-control form-control-sm">
						<option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
					</select>
				</div>
			</div>
		</div>
	</div><br>
	<div class="row">
		<div class="col-6">
			<label for="poste">Poste <sup>*</sup></label>
			<input [(ngModel)]="formAddPersonne.poste" name="poste" type="text" class="form-control form-control-sm" (ngModelChange)="checkValidForm()">
		</div>
		<div class="col-2">
			<label for="mobilite">Mobilité</label>
			<input [(ngModel)]="formAddPersonne.mobilite" name="mobilite" type="text" class="form-control form-control-sm">
		</div>
		<div class="col-2">
				<label for="permis">Permis</label>
				<input [(ngModel)]="formAddPersonne.permis" name="permis" type="text" class="form-control form-control-sm">
		</div>
		<div class="col-2">
			<div>
				<label for="interne">Interne</label><br>
				<input type="checkbox" name="interne" [(ngModel)]="formAddPersonne.interne">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<label for="centreInteret">Centres d'intérêt</label>
			<input [(ngModel)]="formAddPersonne.centreInteret" name="centreInteret" type="text" class="form-control form-control-sm">
		</div>
		<div class="col-6">
			<label for="linkedIn">LinkedIn</label>
			<input [(ngModel)]="formAddPersonne.linkedIn" name="linkedIn" type="text" class="form-control form-control-sm">
		</div>
  </div><br>
  <div class="text-right"><button (click)="onAddPersonne()" class="btn btn-success" [disabled]="activAddButton">Ajouter</button></div>
</form>
<br><hr><br><br>
