<h1>Upload your Avatar!</h1>
<div>
  <div *ngIf="uploadResponse.status === 'error'">
    {{ uploadResponse.message }}
  </div>
  <div *ngIf="uploadResponse.status === 'progress'">
    <div role="progressbar" [style.width.%]="uploadResponse.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      {{uploadResponse.message}}%
    </div>
  </div>

  <form [formGroup]="form" >
    <input type="file" name="avatar" (change)="onFileChange($event)" accept="image/*" />
    <button (click)="onSubmit()">Upload</button>
  </form>
</div>
