h2 {padding-left: 310px;}
.fieldFiltres {background-color: rgba(255, 255, 255, .75); border-top: solid 1px #fff; padding-top: 10px;}
.divPersonne {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 50%; border: 8px solid #fff; float: left;
  .divPersonneContent {border: solid 1px #ced4da; padding: 5px;
    img {display:block; max-height: 100px; width: auto; height: auto;}
    p {padding: 0; margin: 0;}
    p.poste {text-align: center; font-size: 18px; font-weight: bold;  color: rgb(0, 13, 133)}
    p.nom {font-size: 14px; font-weight: bold; color: rgb(168, 73, 18)}
    p i {color: #888;}
  }
}
.actions {padding-top: 10px;
  button {margin-left: 10px;}
}
