
<br>
<h2>Liste des CV<a class="btn btn-success float-right" routerLink="/personne/add" title="Ajouter un CV"><i class="fas fa-user-plus"></i></a></h2>
<br>
<hr>
<br>
<div class="row">
	<div class="col-3 fieldFiltres">
		<fieldset>
			<legend>Filtres</legend>
			<input type="text" placeholder="Nom" [(ngModel)]="searchByNom" (input)="searchFilter()" class="form-control"><br>
			<input type="text" placeholder="Poste" [(ngModel)]="searchByPoste" (input)="searchFilter()" class="form-control">
			<hr>
		</fieldset>
	</div>
	<div class="col-9">
    <ng-container *ngFor="let p of personnesFilter; let i = index">
		<div class="divPersonne">
			<div class="divPersonneContent">
				<div class="row">
					<div class="col-3">
						<img *ngIf="p.photo !== ''" src="http://localhost/cvtheque/img/{{p.photo}}">
						<img *ngIf="p.photo === '' && p.civilite === 'Mr'" src="/cvtheque/assets/img/portrait-homme.jpg">
						<img *ngIf="p.photo === '' && p.civilite === 'Mme'" src="/cvtheque/assets/img/portrait-femme.jpg">
					</div>
					<div class="col-9">
						<p class="poste">{{ p.poste }}</p>
						<p class="nom">{{ p.nom +' '+ p.prenom }}</p>
						<p><i class="fas fa-at"></i>&nbsp;{{ p.mail }}</p>
						<p><i class="fas fa-phone"></i>&nbsp;{{ p.tel }}</p>
						<p class="adresse">{{ p.adresse +' - '+ p.codePostal +' '+ p.ville }}</p>
					</div>
				</div>
        <div class="row actions">
          <div class="col-6">
            <a *ngIf="p.cv !== ''" href="http://localhost/cvtheque/cv/{{p.cv}}" target="_blank"><span class="imgCv"><img src="/cvtheque/assets/img/pdf_32.png"></span></a>
          </div>
          <div class="col-6 text-right">
				  	<button (click)="onSelectDeletePersonne(p.nom +' '+ p.prenom , p.id)" type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
            <button class="btn btn-primary float-right" routerLink="/personne/edit/{{p.id}}" title="Éditer"><i class="fas fa-edit"></i></button>
          </div>
				</div>
			</div>
    </div>
    <hr *ngIf="i%2!==0 && i!==0" style="clear: both" [style.display]="'none'">
    </ng-container>
	</div>
</div>
<br>
<br>
<!-- Modal de Suppression -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Suppression d'un CV</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Suppression du CV de <strong>{{personneDeleteNom}}</strong> ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
				<button (click)="onDeletePersonne(personneDeleteId)" type="button" class="btn btn-danger" data-dismiss="modal">Confirmer</button>
			</div>
		</div>
	</div>
</div>
