<br>
<h2>Éditer un CV<a routerLink="/personne/list" class="btn btn-primary float-right"><i class="fas fa-arrow-left"></i> Retour à la liste</a></h2>
<br>
<hr>

<form class="topForm">
	<div class="row">
		<div class="col-10">
			<div class="row">
				<div class="col-6">
					<div class="row">
						<div class="col-2">
							<label for="civilite">Civilité</label>
							<select [(ngModel)]="personneUpdated.civilite" name="civilite" class="form-control form-control-sm">
								<option value="Mme">Mme</option>
								<option value="Mr">Mr</option>
							</select>
						</div>
						<div class="col-5">
							<label for="nom">Nom</label>
							<input [(ngModel)]="personneUpdated.nom" name="nom" type="text" class="form-control form-control-sm">
						</div>
						<div class="col-5">
							<label for="prenom">Prénom</label>
							<input [(ngModel)]="personneUpdated.prenom" name="prenom" type="text" class="form-control form-control-sm">
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="row">
						<div class="col-7">
							<label for="mail">Email</label>
							<input [(ngModel)]="personneUpdated.mail" name="mail" type="email" class="form-control form-control-sm">
						</div>
						<div class="col-5">
							<label for="tel">Téléphone</label>
							<input [(ngModel)]="personneUpdated.tel" name="tel" type="text" class="form-control form-control-sm">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<label for="adresse">Adresse</label>
					<input [(ngModel)]="personneUpdated.adresse" name="adresse" type="text" class="form-control form-control-sm">
				</div>
				<div class="col-2">
					<label for="cp">Code Postal</label>
					<input [(ngModel)]="personneUpdated.codePostal" name="cp" type="text" class="form-control form-control-sm">
				</div>
				<div class="col-2">
					<label for="ville">Ville</label>
					<input [(ngModel)]="personneUpdated.ville" name="ville" type="text" class="form-control form-control-sm">
				</div>
				<div class="col-5">
					<div class="row">
						<div class="col-3">
							<label for="">Naissance</label>
							<select [(ngModel)]="jourNaiss" name="jourNaiss" class="form-control form-control-sm">
								<option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
							</select>
						</div>
						<div class="col-3">
							<label for=""></label>
							<select [(ngModel)]="moisNaiss" name="moisNaiss" class="form-control form-control-sm">
								<option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
							</select>
						</div>
						<div class="col-6">
							<label for=""></label>
							<select [(ngModel)]="anneeNaiss" name="anneeNaiss" class="form-control form-control-sm">
								<option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
							</select>
						</div>
					</div>
				</div>
			</div><br>
			<div class="row">
				<div class="col-6">
					<label for="poste">Poste</label>
					<input [(ngModel)]="personneUpdated.poste" name="poste" type="text" class="form-control form-control-sm">
				</div>
				<div class="col-2">
					<label for="mobilite">Mobilité</label>
					<input [(ngModel)]="personneUpdated.mobilite" name="mobilite" type="text" class="form-control form-control-sm">
				</div>
				<div class="col-2">
						<label for="permis">Permis</label>
						<input [(ngModel)]="personneUpdated.permis" name="permis" type="text" class="form-control form-control-sm">
				</div>
				<div class="col-2">
					<div>
						<label for="interne">Interne</label><br>
						<input type="checkbox" name="interne" [(ngModel)]="personneUpdated.interne">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<label for="centreInteret">Centres d'intérêt</label>
					<input [(ngModel)]="personneUpdated.centreInteret" name="centreInteret" type="text" class="form-control form-control-sm">
				</div>
				<div class="col-6">
					<label for="linkedIn">LinkedIn</label>
					<input [(ngModel)]="personneUpdated.linkedIn" name="linkedIn" type="text" class="form-control form-control-sm">
				</div>
			</div>
		</div>
		<div class="col-2 uploads">
      <h3>Photo<span *ngIf="personneUpdated.photo !== ''" (click)="onDeletePhoto()" class="delFiles float-right"><i class="fas fa-times"></i></span></h3>
			<form [formGroup]="formImg" *ngIf="personneUpdated.photo === ''">
				<div class="form-group">
					<input type="file" name="photo" (change)="onFileChangeImg($event, 'img')" accept="image/*" class="form-control-file" id="exampleFormControlFile1">
				</div>
				<button type="button" (click)="onSubmitImg('img')" class="btn btn-primary" [disabled]="tempImgFileName===''"><i class="fas fa-file-upload"></i></button>
			</form>
			<img *ngIf="personneUpdated.photo !== ''" src="http://localhost/cvtheque/img/{{personneUpdated.photo}}">
			<hr>
      <h3>CV<span *ngIf="personneUpdated.photo !== ''" (click)="onDeleteCv()" class="delFiles float-right"><i class="fas fa-times"></i></span></h3>
			<form [formGroup]="formImg" *ngIf="personneUpdated.cv === ''">
				<div class="form-group">
					<input type="file" name="photo" (change)="onFileChangeImg($event, 'cv')" accept=".doc,.pdf" class="form-control-file" id="exampleFormControlFile1">
				</div>
				<button type="button" (click)="onSubmitImg('cv')" class="btn btn-primary" [disabled]="tempCvFileName===''"><i class="fas fa-file-upload"></i></button>
			</form>
			<a *ngIf="personneUpdated.cv !== ''" href="http://localhost/cvtheque/cv/{{personneUpdated.cv}}" target="_blank"><span class="imgCv"><img src="/cvtheque/assets/img/pdf.gif"></span>{{personneUpdated.cv}}</a>
			<br>
		</div>
	</div>
	<br>
	<div class=" text-right">
		<button (click)="onUpdatePersonne(personneUpdated, true)" class="btn btn-success">Sauvegarder</button>&nbsp;&nbsp;&nbsp;<button (click)="onUpdatePersonne(personneUpdated, false)" class="btn btn-success">Sauvegarder et sortir</button>
	</div>
</form>
<!--  -->
<hr><br>
<div class="row">
	<!-- GESTION DES MOTS CLES -->
	<div class="col-6">
		<fieldset>
			<legend>Mots clés</legend>
			<ul class="ulmcc">
				<li *ngFor="let mc of personneUpdated.motscles; let i = index" class="comp">{{mc.motCle}}<span class="delMCC" (click)="onDeleteMotCle(i)"><i class="fas fa-times"></i></span></li>
			</ul>
			<span class="addmcc"><input [(ngModel)]="addMotCle"><button (click)="onAjoutMotCle()" class="btn btn-success btn-sm"><i class="fas fa-plus fa-sm"></i></button></span>
		</fieldset>
		<br>
		<!-- GESTION DES MOTS CLES -->
		<fieldset>
			<legend>Compétences</legend>
			<ul class="ulmcc">
				<li *ngFor="let c of personneUpdated.competences; let i = index" class="comp">{{c.libelle}}<span class="delMCC" (click)="onDeleteCompetence(i)"><i class="fas fa-times"></i></span></li>
			</ul>
			<span class="addmcc"><input [(ngModel)]="addComp"><button (click)="onAjoutCompetence()" class="btn btn-success btn-sm"><i class="fas fa-plus fa-sm"></i></button></span>
		</fieldset>
	</div>
	<div class="col-6">
		<!-- GESTION DES REMARQUES -->
		<fieldset>
			<legend>Remarques<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addRemarque"><i class="fas fa-plus"></i></button></legend>
			<div *ngFor="let f of personneUpdated.remarques; let i = index" class="row">
				<div class="col-11 story2">
					<p class="ligne1"><span class="intitule">{{ f.date }}</span></p>
					<p class="description">{{ f.remarque }}</p>
					<hr>
				</div>
				<div class="col-1">
					<span (click)="onDeleteRemarque(i)" class="delEPF float-right"><i class="fas fa-times"></i></span>
				</div>
			</div>

		</fieldset>
	</div>
</div>
<br>
<div class="row">
	<div class="col-6">
		<!-- GESTION DES EXPERIENCES PROFESSIONNELLES -->
		<fieldset>
			<legend>Expériences Professionnelles<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addExperience"><i class="fas fa-plus"></i></button></legend>
			<div *ngFor="let e of personneUpdated.experiences; let i = index" class="row">
				<div (click)="onSelectUpdateExperience(i)" class="col-11 story" data-toggle="modal" data-target="#updateExperience">
					<p class="ligne1"><span class="intitule">{{ e.intitule }}</span><span class="dates">{{ e.dateDebutExperience}} - {{ e.dateFinExperience}} </span></p>
					<p class="lieux">{{ e.nomEntreprise }}</p>
					<p class="description">{{ e.description }}</p>
					<hr>
				</div>
				<div class="col-1">
					<span (click)="onDeleteExperience(i)" class="delEPF float-right"><i class="fas fa-times"></i></span>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="col-6">
		<!-- GESTION DES FORMATIONS -->
		<fieldset>
			<legend>Formations<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addFormation"><i class="fas fa-plus"></i></button></legend>
			<div *ngFor="let f of personneUpdated.formations; let i = index" class="row">
				<div (click)="onSelectUpdateFormation(i)" data-toggle="modal" data-target="#updateFormation" class="col-11 story">
					<p class="ligne1"><span class="intitule">{{ f.intitule }}</span><span class="dates">{{ f.dateDebutFormation}} - {{ f.dateFinFormation}} </span></p>
					<p class="lieux">{{ f.nomCentreFormation }}</p>
					<p class="description">{{ f.description }}</p>
					<hr>
				</div>
				<div class="col-1">
					<span (click)="onDeleteFormation(i)" class="delEPF float-right"><i class="fas fa-times"></i></span>
				</div>
			</div>
		</fieldset>
	</div>
</div>
<br>
<br>

<!-- Modal de Ajout de Formation -->
<div class="modal fade" id="addFormation" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ajout d'une formation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
					<form>
						<div class="row">
							<div class="col">
								<label for="intitule">Intitulé</label>
                <input [(ngModel)]="formAddFormation.intitule" name="intitule" type="text" class="form-control form-control-sm">
							</div>
							<div class="col">
								<label for="nomCentreFormation">Centre de formation</label>
								<input [(ngModel)]="formAddFormation.nomCentreFormation" name="nomCentreFormation" type="text" class="form-control form-control-sm">
							</div>
						</div><br>
						<div class="row">
							<div class="col-6">
								<div class="form-group row">
									<div class="col-3">
										<label for="date">Début <span class="dateFormat">jj/mm/aaaa</span></label>
									</div>
									<div class="col-3">
										<select [(ngModel)]="jourDebutAddFE" name="jourDebutAddFE" class="form-control form-control-sm" placeholder="Jour">
											<option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
										</select>
									</div>
									<div class="col-3">
										<select [(ngModel)]="moisDebutAddFE" name="moisDebutAddFE" class="form-control form-control-sm" placeholder="Mois">
											<option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
										</select>
									</div>
									<div class="col-3">
										<select [(ngModel)]="anneeDebutAddFE" name="anneeDebutAddFE" class="form-control form-control-sm" placeholder="Annee">
											<option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group row">
									<div class="col-3">
										<label for="date">Début <span class="dateFormat">jj/mm/aaaa</span></label>
									</div>
									<div class="col-3">
										<select [(ngModel)]="jourFinAddFE" name="jourFinAddFE" class="form-control form-control-sm" placeholder="Jour">
											<option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
										</select>
									</div>
									<div class="col-3">
										<select [(ngModel)]="moisFinAddFE" name="moisFinAddFE" class="form-control form-control-sm" placeholder="Mois">
											<option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
										</select>
									</div>
									<div class="col-3">
										<select [(ngModel)]="anneeFinAddFE" name="anneeFinAddFE" class="form-control form-control-sm" placeholder="Annee">
											<option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="nomCentreFormation">Description</label>
								<textarea [(ngModel)]="formAddFormation.description" name="description" class="md-textarea form-control" rows="3"></textarea>
							</div>
						</div>
					</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
				<button (click)="onAddFormation()" type="button" class="btn btn-success" data-dismiss="modal">Ajouter</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal de Ajout de Formation -->
<div class="modal fade" id="addExperience" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ajout d'une expérience</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
					<form>
						<div class="row">
							<div class="col">
								<label for="intitule">Intitulé</label>
                <input [(ngModel)]="formAddExperience.intitule" name="intitule" type="text" class="form-control form-control-sm">
							</div>
							<div class="col">
								<label for="nomCentreFormation">Nom de l'entreprise</label>
								<input [(ngModel)]="formAddExperience.nomEntreprise" name="nomEntreprise" type="text" class="form-control form-control-sm">
							</div>
						</div><br>
						<div class="row">
							<div class="col-6">
								<div class="form-group row">
									<div class="col-3">
										<label for="date">Début <span class="dateFormat">jj/mm/aaaa</span></label>
									</div>
									<div class="col-3">
										<select [(ngModel)]="jourDebutAddFE" name="jourDebutAddFE" class="form-control form-control-sm" placeholder="Jour">
											<option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
										</select>
									</div>
									<div class="col-3">
										<select [(ngModel)]="moisDebutAddFE" name="moisDebutAddFE" class="form-control form-control-sm" placeholder="Mois">
											<option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
										</select>
									</div>
									<div class="col-3">
										<select [(ngModel)]="anneeDebutAddFE" name="anneeDebutAddFE" class="form-control form-control-sm" placeholder="Annee">
											<option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group row">
									<div class="col-3">
										<label for="date">Début <span class="dateFormat">jj/mm/aaaa</span></label>
									</div>
									<div class="col-3">
										<select [(ngModel)]="jourFinAddFE" name="jourFinAddFE" class="form-control form-control-sm" placeholder="Jour">
											<option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
										</select>
									</div>
									<div class="col-3">
										<select [(ngModel)]="moisFinAddFE" name="moisFinAddFE" class="form-control form-control-sm" placeholder="Mois">
											<option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
										</select>
									</div>
									<div class="col-3">
										<select [(ngModel)]="anneeFinAddFE" name="anneeFinAddFE" class="form-control form-control-sm" placeholder="Annee">
											<option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<label for="description">Description</label>
								<textarea [(ngModel)]="formAddExperience.description" name="description" class="md-textarea form-control" rows="3"></textarea>
							</div>
						</div>
					</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
        <button (click)="onAddExperience()" type="button" class="btn btn-success" data-dismiss="modal">Ajouter</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal de modification de Formation -->
<div class="modal fade" id="updateFormation" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modification d'une formation</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row">
						<div class="col">
							<label for="intitule">Intitulé</label>
							<input [(ngModel)]="formUpdateFormation.intitule" name="intitule" type="text" class="form-control form-control-sm">
						</div>
						<div class="col">
							<label for="nomCentreFormation">Centre de formation</label>
							<input [(ngModel)]="formUpdateFormation.nomCentreFormation" name="nomCentreFormation" type="text" class="form-control form-control-sm">
						</div>
					</div><br>
					<div class="row">
						<div class="col-6">
							<div class="form-group row">
								<div class="col-3">
									<label for="date">Début <span class="dateFormat">jj/mm/aaaa</span></label>
								</div>
								<div class="col-3">
									<select [(ngModel)]="jourDebutFE" name="jourDebutFE" class="form-control form-control-sm" placeholder="Jour">
										<option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
									</select>
								</div>
								<div class="col-3">
									<select [(ngModel)]="moisDebutFE" name="moisDebutFE" class="form-control form-control-sm" placeholder="Mois">
										<option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
									</select>
								</div>
								<div class="col-3">
									<select [(ngModel)]="anneeDebutFE" name="anneeDebutFE" class="form-control form-control-sm" placeholder="Annee">
										<option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group row">
								<div class="col-3">
									<label for="date">Début <span class="dateFormat">jj/mm/aaaa</span></label>
								</div>
								<div class="col-3">
									<select [(ngModel)]="jourFinFE" name="jourFinFE" class="form-control form-control-sm" placeholder="Jour">
										<option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
									</select>
								</div>
								<div class="col-3">
									<select [(ngModel)]="moisFinFE" name="moisFinFE" class="form-control form-control-sm" placeholder="Mois">
										<option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
									</select>
								</div>
								<div class="col-3">
									<select [(ngModel)]="anneeFinFE" name="anneeFinFE" class="form-control form-control-sm" placeholder="Annee">
										<option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="nomCentreFormation">Description</label>
							<textarea [(ngModel)]="formUpdateFormation.description" name="description" class="md-textarea form-control" rows="3"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
				<button (click)="onUpdateFormation(indexFE)" type="button" class="btn btn-primary" data-dismiss="modal">Terminer</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal de modification d'experience -->
<div class="modal fade" id="updateExperience" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modification d'une expérience</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row">
						<div class="col">
							<label for="intitule">Intitulé</label>
							<input [(ngModel)]="formUpdateExperience.intitule" name="intitule" type="text" class="form-control form-control-sm">
						</div>
						<div class="col">
							<label for="nomEntreprise">Centre de formation</label>
							<input [(ngModel)]="formUpdateExperience.nomEntreprise" name="nomEntreprise" type="text" class="form-control form-control-sm">
						</div>
					</div><br>
					<div class="row">
						<div class="col-6">
							<div class="form-group row">
								<div class="col-3">
									<label for="date">Début <span class="dateFormat">jj/mm/aaaa</span></label>
								</div>
								<div class="col-3">
									<select [(ngModel)]="jourDebutFE" name="jourDebutFE" class="form-control form-control-sm" placeholder="Jour">
										<option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
									</select>
								</div>
								<div class="col-3">
									<select [(ngModel)]="moisDebutFE" name="moisDebutFE" class="form-control form-control-sm" placeholder="Mois">
										<option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
									</select>
								</div>
								<div class="col-3">
									<select [(ngModel)]="anneeDebutFE" name="anneeDebutFE" class="form-control form-control-sm" placeholder="Annee">
										<option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group row">
								<div class="col-3">
									<label for="date">Début <span class="dateFormat">jj/mm/aaaa</span></label>
								</div>
								<div class="col-3">
									<select [(ngModel)]="jourFinFE" name="jourFinFE" class="form-control form-control-sm" placeholder="Jour">
										<option *ngFor="let i of tabjours" value="{{i}}">{{i}}</option>
									</select>
								</div>
								<div class="col-3">
									<select [(ngModel)]="moisFinFE" name="moisFinFE" class="form-control form-control-sm" placeholder="Mois">
										<option *ngFor="let i of tabmois" value="{{i}}">{{i}}</option>
									</select>
								</div>
								<div class="col-3">
									<select [(ngModel)]="anneeFinFE" name="anneeFinFE" class="form-control form-control-sm" placeholder="Annee">
										<option *ngFor="let i of tabannees" value="{{i}}">{{i}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="nomCentreFormation">Description</label>
							<textarea [(ngModel)]="formUpdateExperience.description" name="description" class="md-textarea form-control" rows="3"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
        <button (click)="onUpdateExperience(indexFE)" type="button" class="btn btn-primary" data-dismiss="modal">Terminer</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal d'ajout de Remarque -->
<div class="modal fade" id="addRemarque" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Ajout d'une remarque</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="row">
						<div class="col">
							<label for="nomCentreFormation">Remarque</label>
							<textarea [(ngModel)]="addRemarque.remarque" name="description" class="md-textarea form-control" rows="3"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button (click)="onAddRemarque()" type="button" class="btn btn-success" data-dismiss="modal">Ajouter</button>
			</div>
		</div>
	</div>
</div>
