h2 {padding-left: 310px;}
h3 {font-size: 14px; border-bottom: solid 1px #ddd}
label {color: #222222; font-size: 14px; padding: 0; margin: 0; line-height: 14px;}
.topForm {background-color: rgba(255, 255, 255, .75); border-top: solid 1px #fff;  padding: 10px 10px;}
input {color: #2902d8;}
select {color: #2902d8;}
.imgCv {display: inline-block; margin-right: 10px;}
fieldset {border: solid 1px #ddd; padding: 10px 15px;
  legend {background-color: rgb(255, 163, 43); color: #fff; text-align: center;width: 70%; font-size: 20px;
    button {font-size: 12px;}
  }
  .story {margin: 0; padding: 0 0 0 15px; cursor: pointer;
    p {margin: 0; padding: 0;}
    p.ligne1 {font-size: 16px; font-weight: bold; color: #2902d8;
      .intitule {display: inline-block; width: 50%;}
      .dates {color: #d80202; font-size: 14px;}
    }
    p.lieux {font-size: 16px; font-weight: bold; color: #e26a08;}
    p.description {font-size: 14px;}
  }
  .story2 {margin: 0; padding: 0 0 0 15px;
    p {margin: 0; padding: 0;}
    p.ligne1 {font-size: 16px; font-weight: bold; color: #2902d8;
      .intitule {display: inline-block; width: 50%;}
    }
    p.description {font-size: 14px;}
  }
  .comp {background-color: #e4dff8; border:solid 1px #bdb0f8; margin: 0 5px; padding: 3px 10px;-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;}
  .addmcc {font-size: 12px; padding: 5px 0 0 0; float: right;
    button {margin-left: 15px;}
  }
  .ulmcc {list-style-type: none; margin: 0; padding: 0;
    li {float:left; padding-bottom: 5px; margin-bottom: 5px;}
    .delMCC {color: red; margin-left: 10px; cursor: pointer;}
  }
  .delEPF{color: red; cursor: pointer;}
}
img {display:block; max-height: 100px; width: auto; height: auto;}
.uploads {font-size: 12px;}
.delFiles {color: red; cursor: pointer;}
